# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/
/work_env/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Database
# =========================
db.sqlite3
*.sqlite3

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Django Migration Files
# =========================
**/migrations/*