black==26.1.0
Django==6.0.2
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
flake8==7.3.0
isort==8.0.1
pre_commit==4.5.1
psycopg2-binary==2.9.11
python-dotenv==1.2.2